
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
      padding: 20px;
      background: #001B47;
      padding-left: 150px;
      padding-right: 150px;

}
 nav{
     flex: 1;
     text-align: right;
 }
 
   nav ul li {
    color: #FFFFFF;
       display: inline-block;
       margin-right: 20px;
   }
   .img-label{
    margin-left: 5px;
   }

   .container {
       display: flex;
   }

   .col-1 {
       height: 600px;
    background: #001331;
flex :15%;
   }
   .col-2 {
flex: 75%;
}
.col-3 {
    flex: 10%;
    }

    .vector3 {
        margin-left: 12px;
        margin-top: 12px;
    }
    .ellips6 {
        text-align: center;
        margin-top: 20px;
    }

    .three-logo {
    margin-top: 20px;
    letter-spacing: 20px;
    }
    .ellips6 h4{
    font-weight: 100;
    color: white;
    font-size: 13px;
    }
    .line {
        margin-top: 25px;
        border: 1px solid #001B47;
    }
    .div1 {
        font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    }
    .div2 {
        display: flex;
        justify-content: space-evenly;
        color: #FE9C00;
     padding-top: 8px;
    padding-bottom: 8px;
        background-color: #001B47;
        }
        .div3 {
            display: flex;
            color: #495569;
            justify-content: space-evenly;
            }
            .div4 {
                color: #495569;
                display: flex;
                justify-content: space-evenly;
                }
                .div5 {
                    color: #495569;
                    display: flex;
                    justify-content: space-evenly;
                    }

                    .five-images {
                        color: #495569;
                        white-space: break-spaces;
                        margin-top: 20px;
                        
                    }
                    .user-panel {
                        /* box-shadow: 4px 4px 4px 4px ; */
                        display: flex;
                        justify-content: space-between;
                        padding-right: 15px;
                        padding-left: 15px;
                        border: 1px solid;
                        border-color: FFFFFF;
                        /* background-color: #FFFFFF; */

                    }
                    .col-2 {
                        background: #E5E5E5;
                        margin-left: 20px;
                      margin-top: 20px;
                    }