
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
      padding: 20px;
      background: #001B47;
      padding-left: 150px;
      padding-right: 150px;

}
 nav{
     flex: 1;
     text-align: right;
 }
 
   nav ul li {
    color: #FFFFFF;
       display: inline-block;
       margin-right: 20px;
   }
   .img-label{
    margin-left: 5px;
   }

   .container {
       display: flex;
   }

   .col-1 {
       /* height: 600px; */
    background: #001331;
flex :15%;
   }
   .col-2 {
flex: 75%;
}
.col-3 {
    flex: 10%;
    }

    .vector3 {
        margin-left: 12px;
        margin-top: 12px;
    }
    .ellips6 {
        text-align: center;
        margin-top: 20px;
    }

    .three-logo {
    margin-top: 20px;
    letter-spacing: 20px;
    }
    .ellips6 h4{
    font-weight: 100;
    color: white;
    font-size: 13px;
    }
    .line {
        margin-top: 25px;
        border: 1px solid #001B47;
    }
    .div1 {
        font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    }
    .div2 {
        display: flex;
        justify-content: space-evenly;
        color: #FE9C00;
     padding-top: 8px;
    padding-bottom: 8px;
        background-color: #001B47;
        }
        .div3 {
            display: flex;
            color: #495569;
            justify-content: space-evenly;
            }
            .div4 {
                color: #495569;
                display: flex;
                justify-content: space-evenly;
                }
                .div5 {
                    color: #495569;
                    display: flex;
                    justify-content: space-evenly;
                    }

                    .five-images {
                        color: #495569;
                        white-space: break-spaces;
                        margin-top: 20px;
                    }
                    .user-panel {
                        border-radius: 4px;
                        display: flex;
                        justify-content: space-between;
                        padding-right: 15px;
                        padding-left: 15px;
                       padding-top: 11px;
                       padding-bottom: 11px;
                        border: 1px solid #E5E5E5;
                        border-color: FFFFFF;
                        background-color: #FFFFFF
                    }
                    .col-2 {
                        background: #E5E5E5;
                        /* margin-left: 20px;
                      margin-top: 20px; */
                    }
                    .col-3{
                        background: #E5E5E5;
                    }
                    .collumn {
                        margin-left: 20px;
                        margin-top: 20px;
                        background: #E5E5E5;
                    }
                    .paragraph-tag p {
                        font-size: 14px;
                        color: #777777;
                    }
.user-panel2{
    border: 1px solid #E5E5E5;
    border-color: FFFFFF;
    background-color: #FFFFFF;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.buy-bond {
margin-right: 10px;
padding-right: 20px;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
outline: none;
border-radius: 20px;
border-style: hidden;
background: #FE9C00;

}
.sell-bond {
background-color: #FFFFFF;
    outline: none;
 border-radius: 20px;
border: 1px solid #FE9C00;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 20px;
 padding-left: 20px;
margin-left: 10px;
}


.user-panel3 {
    margin-top: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
   padding-top: 11px;
   padding-bottom: 11px;
    border: 1px solid #E5E5E5;
    border-color: FFFFFF;
    background-color: #FFFFFF
}
.customers {
margin-left: 20px
}



.paragraph-tag1 {
letter-spacing: 15px;
}

.customers td, #customers th {
    border: 1px solid #ddd;
    padding: 10px 10px;
  }
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }